---
import Layout from "../layouts/Layout.astro";
import { getAllLines } from "../util/mta";

const lines = await getAllLines();
---

<Layout>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-8">MTA Train Lines</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {
                lines.map((line) => (
                    <a href={`/line/${line.routeId}`} class="transition-shadow">
                        <div
                            class="p-4 rounded-lg"
                            style={`background-color: #${line.routeColor || "ffffff"}; color: #${line.routeTextColor || "000000"}`}
                        >
                            <h2 class="text-2xl font-bold">
                                {line.routeShortName}
                            </h2>
                            <p>{line.routeLongName}</p>
                        </div>
                    </a>
                ))
            }
        </div>
    </div>
</Layout>
