---
import RouteBadge from "../components/route-badge.astro";
import Layout from "../layouts/Layout.astro";
import { getAllRoutes } from "../util/mta";

const routes = await getAllRoutes();

const sortOrder = Astro.url

---

<Layout>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-8">MTA Train Routes</h1>
        <div
            class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(12rem,1fr))] w-full"
        >
            {
                routes.map((route) => (
                    <a
                        href={`/route/${route.routeId}`}
                        class="transition-shadow"
                    >
                        <div
                            class="p-4 rounded-lg border border-dashed space-y-4 h-full"
                            style={`border-color: #${route.routeColor || "ffffff"}`}
                        >
                            <h2 class="text-2xl font-bold">
                                <RouteBadge route={route} />
                            </h2>
                            <p class="text-sm">{route.routeLongName}</p>
                        </div>
                    </a>
                ))
            }
        </div>
    </div>
</Layout>
